{% extends "base.html" %}
{% load static %}
{% block title %}All products{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- Sidebar gauche -->
    <div class="col-md-3">
      <h5 class="mb-3">Catégories</h5>
      <form method="get" action="{% url 'boutique:product_list' %}">
        <div class="list-group">
          {% for category in categories %}
          <div class="form-check">
            <a href="{% url 'boutique:category_product' category.id %}"
               name="category"
               class="{% if selected_category and category.id == selected_category.id %}active fw-bold bg-primary{% endif %} nav-link"
               id="category{{ category.id }}"
> {{ category.name }} </a>

          </div>
          {% endfor %}
        </div>
        <a href="{% url 'boutique:product_list' %}" class="btn btn-outline-primary mt-3">Tous les Produits</a>
      </form>
    </div>

    <!-- Contenu principal -->
    <div class="col-md-9">
      {% if products %}
      <div class="card-group">
        {% for product in page_objects %}
        <div class="card">
          {% if product.image %}
          <img
            src="{{ product.image.url }}"
            class="card-img-top img-fluid"
            alt="..."
          />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text"> {{ product.description|truncatewords:4 }} </p>
          </div>

          <div class="card-body">
            <button type="submit" id={{product.name}} class="btn btn-outline-secondary add_product">
              Add to cart
            </button>
            <a
              type="submit"
              class="btn btn-outline-info"
              href="{% url 'boutique:detail_product' product.id %}"
              >Detail</a
            >
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
        {% endfor %}
      </div>

        {% if page_objects %}
          <nav aria-label="...">
            <ul class="pagination">
              {% if page_objects.has_previous %}
              <li class="page-item">
                <span class="page-link">
                  <a href="?page={{ page_objects.previous_page_number }}">Previous</a>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="?page=1">1</a></li>

              {% else %}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              {% endif %}
              <li class="page-item active" aria-current="page">
                <span class="page-link"> {{ page_objects.number }}</span>
              </li>
              {% if page_objects.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_objects.next_page_number }}">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}

      {% else %}
      <div>
        <h3 class="bg-warning-subtle text-center">
          Pas de résultat pour le terme: "{{ query_search }}"
        </h3>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
